<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your audio file was transcribed on <%= @audio_file.created_at %> <br>    Filename: <%= @audio_file.audio_file_name %> </p>
  </body>
</html>
