<body>

  <header>
    <div class="header-text">
      <h1>TRANSCRIPTOR</h1>
      <h2>speech to text</h2>
    </div>

    <img src="/assets/logo-white.svg" alt="Zeal logo"/>
  </header>

  <main>

    <div class="main__wrapper">

      <h3>Turn your recorded meetings into a transcribed document you can search and reference later</h3>

      <div class="box">
        <%= form_with model: @audio_file, url: index_path, html: { multipart: true} do |form| %>
          <div class="title__wrapper">
              <div class="title">
                <label for="title" class="title-field">Transcription Title
                <img src="/assets/title-icon.svg" alt="Title image" /></label>
                <div>
                  <%= form.text_field :title, :id => "title" %>
                </div>
              </div>
              <p>What is this a recording of?</p>
          </div> <!-- /.title_wrapper -->

          <div class="upload-btn">
            <%= form.file_field :audio, :id => "upload-btn" %>
              <label for="upload-btn" class="file-upload">
              <img src="/assets/upload-icon.svg" alt="Upload File" />
              Upload Audio File</label>
          </div>
          <p>File type accepted: wav.</p>
          <div class="start-btn">
            <%= form.submit ("Start Transcription"), :class => "start-text" %>
          </div>
        <% end %>
      </div>

    </div> <!-- /.main__wrapper -->
  </main>

</body>
