@font-face {
  font-family: "Brandon Grotesque";
  src: url(/assets/BrandonGrotesque-Regular.otf) format("truetype");
}
/* line 10, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
* {
  font-family: "Brandon Grotesque";
}

/* line 14, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
body {
  background: #F9F9F9;
  margin: auto;
}

/* line 19, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
header {
  background-color: #FFA415;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 15px;
  box-sizing: border-box;
}
@media (min-width: 640px) {
  /* line 19, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
  header {
    height: 100vh;
    padding: 35px;
    width: 135px;
  }
}
/* line 34, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
header .header-text {
  transform: none;
  width: 265px;
  text-align: right;
}
@media (min-width: 640px) {
  /* line 34, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
  header .header-text {
    transform: translateX(-40%) translateY(100%) rotate(270deg);
  }
}
/* line 44, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
header h1 {
  color: white;
  font-size: 36px;
  line-height: 36px;
  text-shadow: -1px 2px #C4C4C4;
  font-weight: bold;
}
/* line 52, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
header h2 {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
}
/* line 59, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
header h1 + h2 {
  margin-top: -25px;
}
/* line 63, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
header img {
  position: absolute;
  bottom: 35px;
}

/* line 69, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main {
  box-sizing: border-box;
  height: 100vh;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  width: 100vw;
  padding-left: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 82, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .main__wrapper {
  width: 680px;
}
/* line 86, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main h3 {
  color: #707070;
  text-align: center;
  margin-bottom: 90px;
  font-size: 36px;
}
/* line 94, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box {
  position: relative;
}
/* line 97, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box:before {
  height: 154px;
  width: 519px;
  border-radius: 17px;
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.18);
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}
/* line 111, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form {
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  padding: 35px;
  position: relative;
  text-align: center;
  z-index: 5;
  /* styled upload button */
}
/* line 119, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .title__wrapper {
  height: 150px;
  width: 246px;
  margin-left: 345px;
  text-align: left;
}
/* line 125, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .title__wrapper .title-field {
  font-size: 24px;
  color: #5F5F5F;
  position: relative;
}
/* line 131, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .title__wrapper #title {
  border: 0;
  outline: 0;
  width: 245px;
  background: transparent;
  border-bottom: 1px solid #949494;
  position: absolute;
  bottom: 0;
  margin-bottom: 250px;
}
/* line 141, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .title__wrapper #title:focus {
  border-bottom: 1px solid #FFA415;
}
/* line 144, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .title__wrapper #title:focus + .title-field {
  color: #FFA415;
}
/* line 150, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .title__wrapper input[type=text] {
  font-size: 24px;
  color: #7F7F7F;
}
/* line 156, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form p {
  font-size: 14px;
  color: #686868;
  line-height: 20px;
}
/* line 162, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form input[type=file] {
  display: none;
}
/* line 167, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .file-upload {
  height: 53.52px;
  width: 282px;
  border: 0.68px solid #5F5F5F;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  color: #707070;
  font-size: 25px;
}
/* line 178, /Users/learn/projects/codingzeal/transcriptor/transcriptor_app/app/assets/stylesheets/_layout.scss */
main .box form .start-text {
  height: 55.9px;
  width: 286px;
  border-radius: 3px;
  background-color: #BBBBBB;
  color: #FFFFFF;
  font-size: 29px;
  font-weight: 500;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

