$primary: #FFA415;
$light: #FFFFFF;
$neutral: #BBBBBB;
$neutral_extra_light: #F9F9F9;
$neutral_light: #7F7F7F;
$neutral_medium_light: #949494;
$neutral_medium: #5F5F5F;
$neutral_medium_dark: #686868;
$neutral_dark: #707070;
